.request-page {
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 640px) {
  .request-page {
    padding: 12px;
  }
}

.request-page__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.request-page__form-wrapper {
  max-width: 560px;
  margin: 0 auto;
  width: 100%;
}

.request-page__form-wrapper .describe-app-form {
  padding: 32px;
}
