[build]
  base = "apps/SalesCRM"
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  command = "npx vite"
  port = 8888
  targetPort = 5173
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
