[build]
  base = "apps/SalesCRM"
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  command = "npx vite"
  port = 8888
  targetPort = 5173
  autoLaunch = false

[[redirects]]
  from = "/src/*"
  to = "/src/:splat"
  status = 200

[[redirects]]
  from = "/node_modules/*"
  to = "/node_modules/:splat"
  status = 200

[[redirects]]
  from = "/@vite/*"
  to = "/@vite/:splat"
  status = 200

[[redirects]]
  from = "/@react-refresh"
  to = "/@react-refresh"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
